<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.neil.ezlink</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7CC3582C-61CA-4A69-A075-1F3C43C24CF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C342BCB8-10DB-43F9-8ABB-2819E0FD4CDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>934C0F0C-4CA7-4589-92B5-BADF3BACDD1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B69F05DE-1F49-4608-AA36-EE80B6CA3EE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C342BCB8-10DB-43F9-8ABB-2819E0FD4CDD</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Neil Lee</string>
	<key>description</key>
	<string>ezlink VPN</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>6</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>获取服务器列表中...</string>
				<key>script</key>
				<string>/usr/bin/python vpn2.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>例:vpn s使用缓存， vpn r刷新服务器信息</string>
				<key>title</key>
				<string>ezlink vpn</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7CC3582C-61CA-4A69-A075-1F3C43C24CF7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ps -ef | grep sshpass | grep -v grep | awk '{print $2}' | xargs kill -9
./zsh.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C342BCB8-10DB-43F9-8ABB-2819E0FD4CDD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys

query = "{query}"

with open("pass.txt", "w") as f:
	f.write(query)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B69F05DE-1F49-4608-AA36-EE80B6CA3EE7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vpnset</string>
				<key>subtext</key>
				<string>格式: 用户名|密码|SSH本地监听端口</string>
				<key>text</key>
				<string>设置VPN账号信息</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>934C0F0C-4CA7-4589-92B5-BADF3BACDD1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7CC3582C-61CA-4A69-A075-1F3C43C24CF7</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>934C0F0C-4CA7-4589-92B5-BADF3BACDD1D</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>B69F05DE-1F49-4608-AA36-EE80B6CA3EE7</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>C342BCB8-10DB-43F9-8ABB-2819E0FD4CDD</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
